div {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 900;
}
body {
    background-color: blanchedalmond;
}
/* No HTML elements in the CSS file*/